body {
  margin: 0;
  font-family: sans-serif ;
  font-size: 1.1em;
  background-color: #333;
  color: #fff;
}
 

.active{
  border: 1px solid #eee;
  background-color: #083374; 
}

nav{
  display: flex;  
  background-color: #222;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  margin:auto;
}

.disabled{ 
  pointer-events: none;
  opacity: .5;
}
 
nav button{
  margin-right: 20px;  
  font-size: 1em;  
  cursor: pointer !important;
  padding: 10px; 
  color: #fff;  
  outline: none;
  border: none; 
  width: 100px;
  background-color: #0a51bb;
  border-radius: 10px;
}
 
 

nav .controls>button{
  background-color: #198754 !important;  
}
   
#bars {  
  display: flex;
  flex-wrap: nowrap;
  place-content: center;
  align-items: end;
  height: 80vh; 
  margin: 20px;

}


#bars div{
  background-color: #eee;
  color: #333; 
  width: 10px;
  border: .1em solid #333;
  font-size: 1px;  
}
