.App {
  min-height: 100vh; 
}

#slider{
   position:absolute;
   right: 5px;
}

#light{
  color: #282c34;
  background-color: #eee;
}


#dark{
  background-color: #333;
  color: #eee;
}

#dark .navbar{
  border-bottom:2px solid #eee
}

#dark #bars {  
  display: flex;
  flex-wrap: nowrap;
  place-content: center;
  align-items: end;
  height: 80vh;

}


#dark #bars div{
  background-color: #eee;
  color: #333; 
  width: 10px;
  border: .1em solid #333;
  font-size: 1px; 
  /* height: 100%;
  width: fit-content;
  float: left;
  margin-right:auto */ 
}


@media only screen and (max-width: 600px) {
  #sort_buttons button, #slider button{
    display: block; 
    width: 90px;
    margin: 4px;
    height: 30px;
  }

  #dark #bars{
    height: 60vh;
  }
}